@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center text-white">
    <h1 class="display-4">AuthFlow</h1>
    <p>This project is a modern, secure, and coprehensive user authentication system developed with<br/>
        ASP.NET Core MVC and JWT (Json Web Token). The project implements registration, login,<br/>
        logout, and access control via token.</p>
    <p>My GitHub: <a href="https://github.com/octavioaugustocr">octavioaugustocr</a></p>
</div>
