<!DOCTYPE html>
<html lang="pt-BR">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>@ViewData["Title"] - AuthFlow</title>
    <link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.min.css" />
    <link rel="stylesheet" href="~/css/site.css" asp-append-version="true" />
    <link rel="stylesheet" href="~/AuthFlow.styles.css" asp-append-version="true" />
</head>
<body>
    <header class="mb-4">
        <nav class="text-white d-flex justify-content-center">
            <ul class="list-unstyled d-flex gap-5 fs-5">
                <li><a class="text-white text-decoration-none" asp-controller="Home" asp-action="Index">Home</a></li>
                <li><a class="text-white text-decoration-none" asp-controller="Register" asp-action="Index">Sign up</a></li>
                <li><a class="text-white text-decoration-none" asp-controller="Login" asp-action="Index">Sign in</a></li>
            </ul>
        </nav>
    </header>
    <div>
        <main role="main">
            @RenderBody()
        </main>
    </div>
    <script src="~/lib/jquery/dist/jquery.min.js"></script>
    <script src="~/lib/bootstrap/dist/js/bootstrap.bundle.min.js"></script>
    <script src="~/js/site.js" asp-append-version="true"></script>
    @await RenderSectionAsync("Scripts", required: false)
</body>
</html>
