body {
  background-color: #151a1a;
}

.bg-body {
  background-color: #151a1a;
}

.mr-5 {
  margin-right: 5%;
}

.mr-10 {
  margin-right: 5%;
}

.ml-5 {
  margin-left: 5%;
}

.ml-10 {
  margin-left: 10%;
}