body {
  background-color: #151a1a;
}

.bg-body {
  background-color: #151a1a;
}

.mr-5 {
  margin-right: 5%;
}

.mr-10 {
  margin-right: 5%;
}

.mr-25 {
  margin-right: 25%;
}

.mr-50 {
  margin-right: 50%;
}

.mr-75 {
  margin-right: 75%;
}

.mr-100 {
  margin-right: 100%;
}

.ml-5 {
  margin-left: 5%;
}

.ml-10 {
  margin-left: 10%;
}

.ml-25 {
  margin-left: 25%;
}

.ml-50 {
  margin-left: 50%;
}

.ml-75 {
  margin-left: 75%;
}

.ml-100 {
  margin-left: 100%;
}